@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    color: var(--primary);
}

a {
    text-decoration: none;
}

/* Wrapper principal que organiza o layout da página com flexbox */
.wrapper {
    display: flex;
    flex-grow: 1;
    height: 100vh;
}

/* Barra lateral */
.sidebar {
    background: linear-gradient(to right, lightblue, white);
    padding: 1rem;
    min-width: 250px;
}

/* Centraliza o logotipo */
.logo {
    display: block;
    margin: 0 auto 1rem;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list a {
    display: block;
    padding: 0.5rem 0;
    color: black;
    text-decoration: none;
}

/* Efeito hover nos links da navegação */
.nav-list a:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.btn-secondary {
    background: white;
    border: none;
    padding: 0.5rem;
    text-align: center;
    display: block;
    margin: 1rem 0;
    border-radius: 4px;
    cursor: pointer;
}

.btn-secondary:hover {
    background: rgba(0, 0, 0, 0.1);
}

/* Área principal de conteúdo */
.content {
    flex: 1;
    padding: 2rem;
    background: linear-gradient(to right, white, lightblue);
    overflow-y: auto;
}

/* Container centralizado  */
.container {
    width: 100%;
    margin: 0 auto;
}

/* Mensagem de boas-vindas centralizada */
.welcome-message {
    text-align: center;
    margin: 2rem 0;
}

/* Cartões  */
.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem 0;
}

/* Título dos cartões */
.card h2 {
    margin-bottom: 0.5rem;
}

/* Texto dentro dos cartões */
.card p {
    color: #666;
}

/* Footer */
footer {
    padding: 1rem;
    text-align: center;
    bottom: 0;
}


/* Footer */
footer .social {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer .social img {
    width: 2rem;
    height: 2rem;
}

footer .Copyright {
    margin-top: 1rem;
}

/* Media query 768px */
@media (max-width: 768px) {

    /* Coloca a barra lateral e o conteúdo em colunas em vez de lado a lado */
    .wrapper {
        flex-direction: column;
    }

    /* Ajusta a largura da barra lateral para ocupar o ecrã inteiro */
    .sidebar {
        width: 100%;
        min-width: initial;
    }

    .content {
        padding: 1rem;
    }

    .container {
        width: 100%;
        padding: 1rem;
    }

    .welcome-message {
        margin: 1rem 0;
    }

    /* Ajusta o espaçamento dos cartões para telemoveiss */
    .card {
        margin: 1rem 0;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    footer .social {
        justify-content: center;
        margin-bottom: 1rem;
    }
}

