/* Importa  os tipos de letras "DM Sans" e "Forum" do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    color: var(--primary);
}

a {
    text-decoration: none;
}

#main {
    background-color: #ffffff;
    background-position: bottom center;
    background-size: cover;
}

/* Logo */
.logo {
    height: 7em;
    width: 15em;
    margin-left: 10rem;
}

.headercontainer {
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, lightblue, transparent);
}

.nav-list {
    display: flex;
    list-style: none;
    margin-right: 10rem;
    gap: 2rem;
}

.nav-list a {
    color: black;
}

/* Oculta a lista estilo "hambúrguer" */
.nav-listBurger{
    display: none;
}

/* Botões */
.btn {
    padding: 0.75rem 1rem;
    background: white;
    outline: 0;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-top: -1rem;
    border: 0;
    cursor: pointer;
    color: black;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    height: 30px;
    padding: 0px 15px;
    text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
    background: linear-gradient(to bottom, lightblue, lightblue);
    transition: all 0.5s ease 0s;
  
    
}

.btn:hover{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 40px;
    transition: all 0.1s ease 0s;
}

/* Conteúdo principal */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    color: gray;
}

.main-content .intro-heading {
    font-size: 3rem;
    color: rgb(102, 193, 223);
    margin-bottom: 5vh;
}

.menu-btn {
    position: absolute;
    top: 3rem;
    right: 1rem;
    display: none;
    height: 2rem;
    width: 2rem;
}

/* Secção de eventos */
.eventos {
    background-color: #ebc64c;
}

/* Carrossel */
.carousel {
    position: relative;
    width: 100%;
    max-width: 55rem;
    max-height: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

/* Slides do carrossel */
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-bottom: 2vh;
}


.slide {
    min-width: 100%;
    box-sizing: border-box;
    height: auto; 
}

/*  botões do carrossel */
.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    border: none;
    padding: 0.625rem;
    cursor: pointer;
    z-index: 1;
}


.prev {
    left: 1rem;
}

.next {
    right: 1rem;
}

/* container das imagens */
.container {

    position: relative;
    display: flex;
    justify-content: center;
    max-width: 75rem;
    margin: 2rem auto 10vh auto;
    gap: 2rem;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

/* Cartões */
.card {
    display: flex;
    flex-direction: column;
    width: 22rem;
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

/* container de eventos */
.eventsContainer {
    display: flex;
    justify-content: center;
}

/* Notícias */
.noticia {
    display: inline-block;
    position: relative;
    width: 25rem;
    min-width: 25rem;
    height: 25rem;
    justify-content: center;
    border-radius:2rem;
    overflow: hidden;
    box-shadow: 1rem 1rem 1rem grey;
    margin: 2rem;
}

.image {
    height: 70%;
}

/*Texto das notícias */
.text {
    background-image: linear-gradient(0deg, #021470, #253af5);
    border-radius: 2rem;
    position: absolute;
    top: 55%;
    left: 11px;
    height: 65%;
    width: 100%;
    transform: skew(19deg, -10deg);
}

.evento .text {
    background-image: linear-gradient(-20deg, #fad400, #b19703);
}

.main-text {
    position: absolute;
    color: #fff;
    font-weight: 900;
    left: 2rem;
    font-size: 0.9rem;
    bottom: 20%;
}

/* Estilo para o botão dos eventos */
.evento-btn {
    position: absolute;
    color: #000000;
    background-color: transparent;
    right: 2rem;
    bottom: 4%;
    padding: 1rem 1rem;
    border: 1px solid #fff;
    animation: button-anim 2s ease 0s infinite normal forwards;
}

.evento-btn:hover {
    box-shadow: 0 0 1rem black;
}

.evento-btn a {
    color: #fff;
    
}

/* Footer */
footer {
    background: linear-gradient(to bottom, transparent, lightblue);
    color: black;
    padding: 1.25rem;
    text-align: center;
}

/* Estilos para a lista de redes sociais no footer */
footer .social {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 0.9375rem;
    margin-bottom: 1.25rem;
}

footer .social li {
    display: inline-block;
}

footer .social img {
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s;
}
/* Estilos para a secção de direitos de autor no footer */
footer .Copyright {
    margin-top: 0.625rem;
}

footer .Copyright p {
    margin: 0.3rem 0;
}

/* Media Queries para responsividade */
@media screen and (max-width: 1200px){
    .logo {
        
        height: 6em;
        width: 12em;
        margin-left: 7rem;
    }

    .nav-list {
        margin-right: 7rem;
        gap: 1.5rem;
    }

    .main-content .intro-heading {
        font-size: 3rem;
    }

    .main-content p {
        max-width: 15rem;
    }

    .container {
        flex-direction: row;
        align-items: center;
    }

    .card {
        width: 20rem;
    }

    .evento-btn {
        margin-top: 0.5rem;
        padding: 0.75rem 0.75rem;
        width: 90%;
        text-align: center;
    }

    .eventsContainer {
        flex-direction: row;
        align-items: center;
    }

    .noticia {
        width: 22rem;
        min-width: 22rem;
        height: 28rem;
    }
}
@media screen and (max-width: 1024px) {
    .logo {
        height: 5em;
        width: 10em;
        margin-left: 5rem;
    }

    .nav-list {
        margin-right: 5rem;
        gap: 1rem;
    }

    .main-content .intro-heading {
        font-size: 2.5rem;
    }

    .main-content p {
        max-width: 12.5rem;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 18rem;
    }
    
    .text{
        top: 50%;
        left: 10px;
        height: 90%;
        width: 108%;

    }
    .evento-btn {
        margin-top: 1rem;
        padding: 0.5rem 0.5rem;
        width: 80%;
        text-align: center;
    }

    .eventsContainer{
        flex-direction: column;
        align-items: center;
    }
    .noticia {
        width: 20rem;
        min-width: 20rem;
        height: 30rem;
    }
    
}

@media screen and (max-width: 480px) {
    .logo {
        height: 4em;
        width: 8em;
        margin-left: 2rem;
    }

    .nav-list {
        margin-right: 2rem;
        gap: 0.5rem;
    }

    .main-content .intro-heading {
        font-size: 1.5rem;
    }

    .main-content p {
        max-width: 10rem;
    }
    .headercontainer{
        position: static;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 15rem;
    }
    .eventsContainer{
        flex-direction: column;
        align-items: center;
    }

    .text{
        top: 50%;
        left: 10px;
        height: 90%;
        width: 108%;
    }
    .noticia {
        width: 15rem;
        min-width: 15rem;
        height: 25rem;
    }
    .main-text {
        font-size: 0.8rem;
    }

    .evento-btn {
        margin-top: 1rem;
        padding: 0.5rem 0.5rem;
        width: 80%;
        text-align: center;
    }
    
    .menu-btn {
        top: 1rem;
        display: block;
    }

    .nav-listBurger {
        display: none;
        flex-direction: column;
        gap: 2rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, lightblue, white);
        padding: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        z-index: 2;
        list-style: none;
    }
    
    .nav-listBurger.active {
        display: flex;
        transform: translateY(0);
        opacity: 1;
    }
    .menu-btn.menu-btn.active {
        top: 1rem;
        display: block;
        z-index: 3;
    }
    .menu-btn {
        cursor: pointer;
    }
    
    .menu-btn.active + .nav-list {
        display: flex;
    }
    .nav-list{
        display: none;
    }
    .carousel button {
        padding: 0.25rem;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1800px) {
    .eventsContainer {
        display: grid;
        grid-template-columns: repeat(2, 40rem);
        gap: 2rem;
        margin-bottom: 20rem;
    }

    .noticia, .eventos {
        width: 100%;
    }
    .noticia {
        width: 25rem;
        min-width: 25rem;
        height: 25rem;
        border-radius:2rem;
        overflow: hidden;
        box-shadow: 1rem 1rem 1rem grey;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
    .eventsContainer {
        display: grid;
        grid-template-columns: repeat(2, 30rem);
        gap: 2rem;
        margin-bottom: 20rem;
    }

    .noticia, .eventos {
        width: 100%;
    }
    .noticia {
        width: 25rem;
        min-width: 25rem;
        height: 25rem;
        border-radius:2rem;
        overflow: hidden;
        box-shadow: 1rem 1rem 1rem grey;
        margin: 0 auto;
    }
}
