/* Importação das fontes a serem utilizadas no site */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&display=swap');

/* Estilos para margens  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: "DM Sans", sans-serif;
    color: var(--primary);
}

a {
    text-decoration: none;
}

/* Design da zona principal */
#main {
    background-color: #ffffff;
    background-position: bottom center;
    background-size: cover;
}

/* Estilo do logo */
.logo {
    height: 7em;
    width: 15em;
    margin-left: 10rem;
}

/* Centralizar Header */
.headercontainer {
    margin: auto;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, lightblue, transparent);
}

.nav-list {
    display: flex;
    list-style: none;
    margin-right: 10rem;
    gap: 2rem;
}

.nav-list a {
    color: black;
}

.nav-listBurger {
    display: none;
}

.btn {
    padding: 0.75rem 1rem;
    background: white;
    outline: 0;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-top: -1rem;
    border: 0;
    cursor: pointer;
    color: black;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    height: 30px;
    padding: 0px 15px;
    text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
    background: linear-gradient(to bottom, lightblue, lightblue);
    transition: all 0.5s ease 0s;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 40px;
    transition: all 0.1s ease 0s;
}

/* Zona principal do conteúdo */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    color: gray;
}

/* Header conteudo principal*/
.main-content .intro-heading {
    font-size: 3rem;
    color: rgb(102, 193, 223);
    margin-bottom: 5vh;
}

.menu-btn {
    position: absolute;
    top: 3rem;
    right: 1rem;
    display: none;
    height: 2rem;
    width: 2rem;
}

/* Footer */
footer {
  background: linear-gradient(to bottom, transparent, lightblue);
  color: black;
  padding: 1.25rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer .social {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 0.9375rem;
    margin-bottom: 1.25rem;
}

footer .social li {
    display: inline-block;
}

footer .social img {
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s;
}

footer .Copyright {
    margin-top: 0.625rem;
}

footer .Copyright p {
    margin: 0.3rem 0;
}

/* Formulário de Login e Registo */
.LoginRegister {
    overflow: hidden;
    max-width: 390px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

.title-text {
    display: flex;
    width: 200%;
}

.title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

/* Botões (Login/Registo) */
.slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.slide {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}

label.signup {
    color: #000;
}

.slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #3db9d8, #197ab3);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

/* Inputs radio */
input[type="radio"] {
    display: none;
}

#signup:checked ~ .slider-tab {
    left: 50%;
}
#signup:checked ~ label.signup {
    color: #fff;
    cursor: default;
    user-select: none;
}
#signup:checked ~ label.login {
    color: #000;
}
#login:checked ~ label.signup {
    color: #000;
}
#login:checked ~ label.login {
    cursor: default;
    user-select: none;
}

.form-container {
    width: 100%;
    overflow: hidden;
}

.form-inner {
    display: flex;
    width: 200%;
}

.form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.field input:focus {
    border-color: #197ab3;
}

.field input::placeholder {
    color: #999;
    transition: all 0.3s ease;
}

input:focus::placeholder {
    color: #b3b3b3;
}

.pass-link {
    margin-top: 5px;
}

.signup-link {
    text-align: center;
    margin-top: 30px;
}

.pass-link a,
.signup-link a {
    color: #197ab3;
    text-decoration: none;
}

form .btn {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

form .btn .btn-layer {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(left, #3db9d8, #197ab3);
    border-radius: 5px;
    transition: all 0.4s ease;
}

form .btn:hover .btn-layer {
    left: 0;
}

form .btn input[type="submit"] {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}


